/*.component_container > div{ margin: 0 auto; width:40%; padding:30px; border:1px solid #cccccc;}*/
div.carousel_section{
	display: flex;
	border-radius: 5px;
	min-height: 400px;
	margin: 30px 0;
}

div.carousel_description{
	padding: 50px;
	background: white;
	float:left;
}

div.carousel_description h3,
div.category_section h3,
div.recently_section h3{
	padding-bottom: 20px;
}

div.carousel_description p{
	padding-bottom: 15px;
}

div.offer_btn{
	padding-bottom: 20px;
	padding-top: 30px;
}

div.offer_btn input{
	padding: 6px 10px;
	border: none;
	font-size: 12px;
	background-color: #f3f4f7;
	color: #212A32;
	border-radius: 3px;
}

div.carousel_content #ImageCarousel{
	height: 100%;
	float: left;
	padding: 0;
}

#ImageCarousel img{
	width: 100%;
	height: 400px;
}

div.category_section{
	padding-top: 50px;
	padding-bottom: 50px;
}

div.category_section .category_name{
	display: flex;
}

div.category_section .category_name i,
div.category_section .category_name .MuiSvgIcon-root{
	color: #3aa3f4;
	font-size: 24px;
	margin: 3px 8px 3px 8px;
}

div.category_section .category_name label{
	line-height: 30px;
	color: #212A32;
	font-family: "OpenSans-SemiBold";
	cursor: pointer;
}

div.category_section .category_count{
	padding-left: 40px;
	color: #545E6A;
	line-height: 28px;
	font-size: 14px;
	cursor: pointer;
}

div.category_section div.category{
	border-color: black;
	padding: 15px;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	z-index: 999;
}

div.category_section div.category:hover .category_name label,
div.category_section div.category:focus .category_name label,
div.category_section div.category.selected .category_name label{
	color: #3aa3f4;
}

div.recently_section{
	padding-top: 50px;
	padding-bottom: 50px;
}

div.recently_section .recently_article > a{
    display: flex;
    margin-bottom: 30px;
    color: ;
}

div.recently_section .recently_article img{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: auto;
    max-width: 40%;
}

div.recently_section .recently_article a > div{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
}

div.recently_section .recently_article .article_date{
    color: #A2ACB8;
    padding-top: 20px;
}

div.recently_section .recently_article .article_title{
    padding-bottom: 10px;
    color: #212A32;
    font-family: "OpenSans-SemiBold";
}
div.recently_section .recently_article:hover .article_title{
	color: #2499f3;
	text-decoration: none;
}
div.recently_section .recently_article .article_text{
    color: #545e6a;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div.recently_section .see_more_btn{
	display: flex;
	margin: 20px 0 40px;
}

div.recently_section .see_more_btn span{
	margin-left: auto;
	margin-right: auto;
	color: #2499f3;
	text-decoration: none;
	cursor: pointer;
}

div.recently_section .see_more_btn span.show {
	display: block;
}

div.recently_section .see_more_btn span.unshow {
	display: none;
}

div.recently_section .see_more_btn span i:before{
	color: #2499f3 !important;
	font-size: 15px;
	padding-left: 5px;
	cursor: pointer;
}