.Dropzone {
  border: 2px dashed #bfcbda;
  border-radius: 5px;
  padding: 25px 0;
  background-color: #f9fafc;
  text-align: center;
  flex: none;
}

.Highlight {
  background-color: rgb(188, 185, 236) !important;
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}
