@media (min-width: 1440px) {
	.container.profile {
		max-width: 1300px;
	}
	.container.profile .col-md-3.sidebar {
		flex: 0 0 23% !important;
		max-width: 23% !important;
	}

	.container.profile .col-md-9.render {
		flex: 0 0 77% !important;
		max-width: 77% !important;
	}
}

@media (max-width: 1440px) {
	.container.profile .col-md-3.sidebar {
		flex: 0 0 23% !important;
		max-width: 23% !important;
	}

	.container.profile .col-md-9.render {
		flex: 0 0 77% !important;
		max-width: 77% !important;
	}
}

.profile_sidebar, .profile_content {
	font-family: "OpenSans";
}

