.breadcrumb{
  padding: 20px 0px;
  margin-bottom: 2px;
  background: transparent;
  font-size: 14px;
}

.breadcrumb .paper{
	background-color: transparent;
}

.breadcrumb .paper .prev_path{
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	font-family: "OpenSans";
	font-size: 14px;
}

.breadcrumb .paper .current_title{
	font-family: "OpenSans";
	font-size: 14px;
}

.breadcrumb li.nav-item a, .breadcrumb li{
  color: #A2ACB8;
  text-decoration: none;
  padding: 0;
  font-size: 14px;
}

.breadcrumb li.MuiBreadcrumbs-separator{
	font-size: 16px;
	transform: scaleX(0.5);
}